# Backend binaries
backend/server
backend/db-parser
backend/email-processor

# Go build files
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Go mod cache
go.sum

# IDE specific files
.vscode/
.idea/
*.swp
*.swo
*~

# OS specific files
.DS_Store
Thumbs.db

# Environment variable files
.env
.env.local
